body { background: #abc; text-align: center }
div, p, header, footer {
    font-family: "Times New Roman", serif;
    color: #036;
}

a {
    font-family: "Times New Roman", serif;
    text-decoration: none;
    cursor: help;
  }

a:link { color: #084 }
a:visited { color: #051 }
a:hover { color: #349 }
a:active { color: #abc }
