body { 
  background: #fff;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}

div, p, header, footer, label, a {
  font-family: "Times New Roman", serif;
  color: #036;
  font-size: 18px;
}

a {
  font-family: "Times New Roman", serif;
}

a:link { color: #084 }
a:visited { color: #060 }
a:hover { color: #04a }
a:active { color: #000 }

.wide-slider
{
    width: 1600px;
}

i {
  color: #440;
}

.inline-flex-parent {
  display: inline-flex;
}

.box {
  padding:5px;
  border: 1px solid #440;
}

img, video {
  margin-top:5px;
  margin-bottom:5px;
}

.intro {
  background:#aaa;
  margin: 20px;
  padding: 2px;
}
