body { background: #abc; text-align: center }
div, p, header, footer {
    font-family: "Times New Roman", serif;
    color: #036;
}

a {
    font-family: "Times New Roman", serif;
  }

a:link { color: #084 }
a:visited { color: #060 }
a:hover { color: #09e }
a:active { color: #abc }
